In [1]:
import requests
from urllib.error import URLError, HTTPError
from http.client import IncompleteRead
from time import sleep

In [2]:
# kakao api
APP_KEY = ""
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

In [3]:
def kakao_req(address):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)
    kakao_url_string = str(kakao_url)+ '?query='+ str(address)
    try:
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except HTTPError as e:
        print("502 error caused reply" + e)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except IncompleteRead:
        # Oh well, reconnect and keep trucking
        print("_chunk_size Error")
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except URLError as e:
        print(e.reason)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    else:
        data= resultXML.json()
        if len(data['documents']) ==0:
            data= '403'
            return data
        else:
            return resultXML

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = kakao_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np
from pyspark.sql import SQLContext

In [6]:
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = './office_trade_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)

office_trade_201701.csv
office_trade_201702.csv
office_trade_201703.csv
office_trade_201704.csv
office_trade_201705.csv
office_trade_201706.csv
office_trade_201707.csv
office_trade_201708.csv
office_trade_201709.csv
office_trade_201710.csv
office_trade_201711.csv
office_trade_201712.csv
office_trade_201801.csv
office_trade_201802.csv
office_trade_201803.csv
office_trade_201804.csv
office_trade_201805.csv
office_trade_201806.csv
office_trade_201807.csv
office_trade_201808.csv
office_trade_201809.csv
office_trade_201810.csv
office_trade_201811.csv
office_trade_201812.csv
office_trade_201901.csv
office_trade_201902.csv
office_trade_201903.csv
office_trade_201904.csv
office_trade_201905.csv
office_trade_201906.csv
office_trade_201907.csv
office_trade_201908.csv
office_trade_201909.csv
office_trade_201910.csv
office_trade_201911.csv
office_trade_201912.csv
office_trade_202001.csv
office_trade_202002.csv
office_trade_202003.csv
office_trade_202004.csv
office_trade_202005.csv
office_trade_202006.csv
office_trade_202007.csv
office_trade_202008.csv
office_trade_202009.csv
office_trade_202010.csv
office_trade_202011.csv
office_trade_202012.csv

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- trade_price: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: integer (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+-----------+----+-----+---+----------+--------+----------+-----+---------------------+-----+----------------------+----------------------------+----------------+
|_c0|build_year|trade_price|year|month|day|      city|sub_city|      dong| code|                 name|floor|exclusive_private_area|                     address|detailed_address|
+---+----------+-----------+----+-----+---+----------+--------+----------+-----+---------------------+-----+----------------------+----------------------------+----------------+
|  0|      2003|     45,800|2020|   12| 28|서울특별시|  종로구|    적선동|11110|      광화문 플래티넘|    4|                 73.76|   서울특별시 종로구  적선동|             156|
|  1|      2003|     61,000|2020|   12| 30|서울특별시|  종로구|    적선동|11110|      광화문 플래티넘|   16|                 73.76|   서울특별시 종로구  적선동|             156|
|  2|      2003|     22,500|2020|   12| 31|서울특별시|  종로구|    적선동|11110|      광화문 플래티넘|   15|                 38.64|   서울특별시 종로구  적선동|             156|
|  3|      2008|     35,000|2020|   12|  2|서울특별시|  종로구|    사직동|11110|광화문 풍림스페이스본|    8|                 39.54|   서울특별시 종로구  사직동|               9|
|  4|      2008|     37,500|2020|   12| 24|서울특별시|  종로구|    사직동|11110|광화문 풍림스페이스본|    6|                 39.54|   서울특별시 종로구  사직동|               9|
|  5|      2004|     28,700|2020|   12|  3|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 3단지|    9|                  37.5|   서울특별시 종로구  내수동|              72|
|  6|      2004|     32,500|2020|   12|  4|서울특별시|  종로구|    내수동|11110|           용비어천가|   16|                 42.83|   서울특별시 종로구  내수동|              75|
|  7|      2004|     28,000|2020|   12|  9|서울특별시|  종로구|    내수동|11110|           용비어천가|    7|                 37.12|   서울특별시 종로구  내수동|              75|
|  8|      2004|     30,500|2020|   12| 12|서울특별시|  종로구|    내수동|11110|           용비어천가|   17|                  33.0|   서울특별시 종로구  내수동|              75|
|  9|      2004|     29,500|2020|   12| 15|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 3단지|    8|                  37.5|   서울특별시 종로구  내수동|              72|
| 10|      2004|     67,000|2020|   12| 15|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 3단지|    7|                  75.0|   서울특별시 종로구  내수동|              72|
| 11|      2004|     32,000|2020|   12| 18|서울특별시|  종로구|    내수동|11110|           용비어천가|   16|                 37.56|   서울특별시 종로구  내수동|              75|
| 12|      2004|     25,000|2020|   12| 21|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 4단지|   14|                 28.24|   서울특별시 종로구  내수동|              73|
| 13|      2004|     25,000|2020|   12| 22|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 4단지|   14|                 28.24|   서울특별시 종로구  내수동|              73|
| 14|      2004|     29,500|2020|   12| 23|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 3단지|   12|                  37.5|   서울특별시 종로구  내수동|              72|
| 15|      2004|     31,000|2020|   12| 24|서울특별시|  종로구|    내수동|11110|           용비어천가|   18|                 37.56|   서울특별시 종로구  내수동|              75|
| 16|      2004|     53,500|2020|   12| 24|서울특별시|  종로구|    내수동|11110|  경희궁의 아침 2단지|   16|                  57.8|   서울특별시 종로구  내수동|              71|
| 17|      2004|     28,000|2020|   12| 31|서울특별시|  종로구|    내수동|11110|           용비어천가|    4|                 37.56|   서울특별시 종로구  내수동|              75|
| 18|      2005|     41,000|2020|   12| 14|서울특별시|  종로구| 신문로1가|11110|   광화문오피시아빌딩|   16|                 41.71|서울특별시 종로구  신문로1가|             163|
| 19|      2005|     46,000|2020|   12| 28|서울특별시|  종로구| 신문로1가|11110|   광화문오피시아빌딩|   20|                 41.71|서울특별시 종로구  신문로1가|             163|
+---+----------+-----------+----+-----+---+----------+--------+----------+-----+---------------------+-----+----------------------+----------------------------+----------------+
only showing top 20 rows

152458

In [11]:
filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))
# agg = exprs에 들어있는 계산식으로 dataframe 계산

unique_date_list = unique_date_df.collect()
new_date_list = []
for unique_date in unique_date_list:
    
    if unique_date[1] < 10 :
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
        
    else:
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|trade_price|      city|sub_city|         dong| code|                  name|floor|exclusive_private_area|                       address|detailed_address|               date|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
|2017|    1|  1|  6|      2007|     38,500|서울특별시|  강동구|       천호동|11740|    대우 한강 베네시티|    5|                 95.26|     서울특별시 강동구  천호동|           425=5|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2016|      9,970|  경상남도|  양산시|물금읍 가촌리|48330|          미건엘리시아|    6|                 31.38| 경상남도 양산시 물금읍 가촌리|          1288=3|2017-01-01T00:00:00|
|2017|    1|  1|  3|      2004|     13,300|서울특별시|  노원구|       상계동|11350|          노빌리안골드|    8|                 24.68|     서울특별시 노원구  상계동|           734=3|2017-01-01T00:00:00|
|2017|    1|  1| 42|      2016|     17,800|부산광역시|  사상구|       주례동|26530|        진영프라임제이|   10|                 51.13|     부산광역시 사상구  주례동|         1162=35|2017-01-01T00:00:00|
|2017|    1|  1| 48|      2015|     11,500|서울특별시|  강서구|       마곡동|11500|        마곡경동미르웰|    2|                 17.96|     서울특별시 강서구  마곡동|             784|2017-01-01T00:00:00|
|2017|    1|  1|  9|      2009|     15,000|인천광역시|  연수구|       송도동|28185|  송도 더샵 퍼스트월드|    6|                 60.81|     인천광역시 연수구  송도동|             4=1|2017-01-01T00:00:00|
|2017|    1|  2| 15|      2005|     21,900|서울특별시|  용산구|    한강로2가|11170|  한강로벽산메가트리움|    4|                 30.35|  서울특별시 용산구  한강로2가|             2=8|2017-01-02T00:00:00|
|2017|    1|  2|  9|      2005|     18,900|서울특별시|서대문구|       대현동|11410|            신촌가이아|    5|                 28.22|   서울특별시 서대문구  대현동|           27=20|2017-01-02T00:00:00|
|2017|    1|  2|  7|      2000|      7,700|부산광역시|    서구|       암남동|26140|            송도탑스빌|   16|                 28.16|       부산광역시 서구  암남동|           255=1|2017-01-02T00:00:00|
|2017|    1|  2|  0|      2003|     12,000|서울특별시|  노원구|       월계동|11350|        카펠라오피스텔|    5|                  30.0|     서울특별시 노원구  월계동|           366=3|2017-01-02T00:00:00|
|2017|    1|  2|  9|      2004|     21,800|서울특별시|  구로구|       구로동|11530|신동아미래지움오피스텔|    8|                 60.46|     서울특별시 구로구  구로동|           474=1|2017-01-02T00:00:00|
|2017|    1|  2| 74|      2005|     17,400|서울특별시|  관악구|       남현동|11620|           	(1061-18)	|   12|                 25.05|     서울특별시 관악구  남현동|         1061=18|2017-01-02T00:00:00|
|2017|    1|  2|  6|      2016|     24,890|부산광역시|    서구|     남부민동|26140|         민송 베른시티|   14|                  68.2|     부산광역시 서구  남부민동|          643=13|2017-01-02T00:00:00|
|2017|    1|  2| 13|      2008|     17,500|서울특별시|  은평구|       신사동|11380|            삼익하이빌|    2|                 57.86|     서울특별시 은평구  신사동|          29=115|2017-01-02T00:00:00|
|2017|    1|  2| 45|      1999|     49,500|서울특별시|  마포구|       동교동|11440|          LG팰리스빌딩|   13|                  92.6|     서울특별시 마포구  동교동|           165=8|2017-01-02T00:00:00|
|2017|    1|  2| 16|      2008|     15,000|서울특별시|  강서구|       화곡동|11500|            우공팰리스|    2|                  65.0|     서울특별시 강서구  화곡동|          916=32|2017-01-02T00:00:00|
|2017|    1|  2| 58|      2004|     15,500|서울특별시|영등포구|    당산동3가|11560|          리앤나빌리지|    6|                 30.85|서울특별시 영등포구  당산동3가|            80=1|2017-01-02T00:00:00|
|2017|    1|  2| 74|      2004|     10,500|서울특별시|영등포구|    문래동5가|11560|         명지 페르마타|    4|                 25.93|서울특별시 영등포구  문래동5가|            23=4|2017-01-02T00:00:00|
|2017|    1|  2|  0|      2013|     25,300|서울특별시|  송파구|       잠실동|11710|          잠실아이파크|    5|                 24.42|     서울특별시 송파구  잠실동|             194|2017-01-02T00:00:00|
|2017|    1|  2| 14|      1992|     11,200|서울특별시|  송파구|       가락동|11710|          제일오피스텔|   14|                 26.51|     서울특별시 송파구  가락동|            99=3|2017-01-02T00:00:00|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
only showing top 20 rows

145577

In [15]:
added_date_df = added_date_df.withColumn("detailed_address", regexp_replace(col("detailed_address"),"=","-"))
added_date_df.show()

+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|trade_price|      city|sub_city|         dong| code|                  name|floor|exclusive_private_area|                       address|detailed_address|               date|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
|2017|    1|  1|  6|      2007|     38,500|서울특별시|  강동구|       천호동|11740|    대우 한강 베네시티|    5|                 95.26|     서울특별시 강동구  천호동|           425-5|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2016|      9,970|  경상남도|  양산시|물금읍 가촌리|48330|          미건엘리시아|    6|                 31.38| 경상남도 양산시 물금읍 가촌리|          1288-3|2017-01-01T00:00:00|
|2017|    1|  1|  3|      2004|     13,300|서울특별시|  노원구|       상계동|11350|          노빌리안골드|    8|                 24.68|     서울특별시 노원구  상계동|           734-3|2017-01-01T00:00:00|
|2017|    1|  1| 42|      2016|     17,800|부산광역시|  사상구|       주례동|26530|        진영프라임제이|   10|                 51.13|     부산광역시 사상구  주례동|         1162-35|2017-01-01T00:00:00|
|2017|    1|  1| 48|      2015|     11,500|서울특별시|  강서구|       마곡동|11500|        마곡경동미르웰|    2|                 17.96|     서울특별시 강서구  마곡동|             784|2017-01-01T00:00:00|
|2017|    1|  1|  9|      2009|     15,000|인천광역시|  연수구|       송도동|28185|  송도 더샵 퍼스트월드|    6|                 60.81|     인천광역시 연수구  송도동|             4-1|2017-01-01T00:00:00|
|2017|    1|  2| 15|      2005|     21,900|서울특별시|  용산구|    한강로2가|11170|  한강로벽산메가트리움|    4|                 30.35|  서울특별시 용산구  한강로2가|             2-8|2017-01-02T00:00:00|
|2017|    1|  2|  9|      2005|     18,900|서울특별시|서대문구|       대현동|11410|            신촌가이아|    5|                 28.22|   서울특별시 서대문구  대현동|           27-20|2017-01-02T00:00:00|
|2017|    1|  2|  7|      2000|      7,700|부산광역시|    서구|       암남동|26140|            송도탑스빌|   16|                 28.16|       부산광역시 서구  암남동|           255-1|2017-01-02T00:00:00|
|2017|    1|  2|  0|      2003|     12,000|서울특별시|  노원구|       월계동|11350|        카펠라오피스텔|    5|                  30.0|     서울특별시 노원구  월계동|           366-3|2017-01-02T00:00:00|
|2017|    1|  2|  9|      2004|     21,800|서울특별시|  구로구|       구로동|11530|신동아미래지움오피스텔|    8|                 60.46|     서울특별시 구로구  구로동|           474-1|2017-01-02T00:00:00|
|2017|    1|  2| 74|      2005|     17,400|서울특별시|  관악구|       남현동|11620|           	(1061-18)	|   12|                 25.05|     서울특별시 관악구  남현동|         1061-18|2017-01-02T00:00:00|
|2017|    1|  2|  6|      2016|     24,890|부산광역시|    서구|     남부민동|26140|         민송 베른시티|   14|                  68.2|     부산광역시 서구  남부민동|          643-13|2017-01-02T00:00:00|
|2017|    1|  2| 13|      2008|     17,500|서울특별시|  은평구|       신사동|11380|            삼익하이빌|    2|                 57.86|     서울특별시 은평구  신사동|          29-115|2017-01-02T00:00:00|
|2017|    1|  2| 45|      1999|     49,500|서울특별시|  마포구|       동교동|11440|          LG팰리스빌딩|   13|                  92.6|     서울특별시 마포구  동교동|           165-8|2017-01-02T00:00:00|
|2017|    1|  2| 16|      2008|     15,000|서울특별시|  강서구|       화곡동|11500|            우공팰리스|    2|                  65.0|     서울특별시 강서구  화곡동|          916-32|2017-01-02T00:00:00|
|2017|    1|  2| 58|      2004|     15,500|서울특별시|영등포구|    당산동3가|11560|          리앤나빌리지|    6|                 30.85|서울특별시 영등포구  당산동3가|            80-1|2017-01-02T00:00:00|
|2017|    1|  2| 74|      2004|     10,500|서울특별시|영등포구|    문래동5가|11560|         명지 페르마타|    4|                 25.93|서울특별시 영등포구  문래동5가|            23-4|2017-01-02T00:00:00|
|2017|    1|  2|  0|      2013|     25,300|서울특별시|  송파구|       잠실동|11710|          잠실아이파크|    5|                 24.42|     서울특별시 송파구  잠실동|             194|2017-01-02T00:00:00|
|2017|    1|  2| 14|      1992|     11,200|서울특별시|  송파구|       가락동|11710|          제일오피스텔|   14|                 26.51|     서울특별시 송파구  가락동|            99-3|2017-01-02T00:00:00|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+----------------------+-----+----------------------+------------------------------+----------------+-------------------+
only showing top 20 rows

In [16]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+--------------------------------+----------------+-----+
|                         address|detailed_address|count|
+--------------------------------+----------------+-----+
|       인천광역시 부평구  청천동|          383-14|   52|
|    경기도 수원시 영통구  이의동|            1330|   76|
|      경기도 안산시 상록구  사동|          1197-4|   36|
|       인천광역시 부평구  청천동|           379-8|  279|
|       대전광역시 유성구  지족동|           863-2|   36|
|    경기도 용인시 수지구  상현동|          1133-2|   45|
|     서울특별시 서대문구  창천동|           29-81|   39|
|       서울특별시 강동구  천호동|          167-57|   16|
|서울특별시 영등포구  영등포동6가|              92|    4|
|   경상북도 경산시 하양읍 금락리|          161-32|   80|
|       부산광역시 사하구  괴정동|           555-5|    1|
|     서울특별시 동대문구  이문동|          325-20|   21|
|       서울특별시 은평구  불광동|           319-8|    9|
|       서울특별시 강서구  마곡동|           784-4|   25|
|         서울특별시 도봉구  창동|          632-29|    1|
|             경기도 부천시  상동|           449-1|    1|
|     경기도 평택시 안중읍 안중리|          252-33|   10|
|    경기도 용인시 기흥구  마북동|           255-4|    8|
|       서울특별시 강북구  수유동|            48-1|   21|
|      서울특별시 중구  의주로1가|            32-2|   28|
+--------------------------------+----------------+-----+
only showing top 20 rows

8887

In [17]:
sum = new_df.select(sum("count"))
sum.show()

+----------+
|sum(count)|
+----------+
|    145577|
+----------+

In [18]:
unique_address_list = new_df.collect()
#print (unique_address_list[0][0])

In [19]:
import sys

def req_addr(address):
    data=0
    if '-' in address[1]:
        check = str(address[1]).split('-')[0]
        if address[1].split('-')[0].isdigit() == False or address[1].split('-')[1].isdigit() == False:
            print(address)
            print('주소에 글자섞임')
            data= 400
    if data == 0:
        response = kakao_req(address[0] + " " + address[1])
    else :
        return data
    if response == '403':
        print('빈배열 에러 ' + address[0] + " " + address[1])
        sleep(5)
        data= 3
        return data
    else :
        return response

In [20]:

location_list = []

# checking why no esult data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;
print (length)
addr2 =unique_address_list[:1]

for address in unique_address_list: 
    #full_address = (address[0] + " " + address[1]).encode('utf8')
    #print(full_address)
    response = req_addr(address)
    if response == 400 or response == 3:
        continue
    if response.status_code == 200:
        data = response.json()
        x = data['documents'][0]['address']['x']
        y = data['documents'][0]['address']['y']
        location_list.append([address[0],address[1],y,x])
    else: 
        print (response.json())
        count += 1
        #print (count)
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if index % 100 == 0:
        print (("%0.2f" % (index / length * 100.0)) + "% completed")
        
    index += 1.0

8887
빈배열 에러 경기도 용인시 기흥구  구갈동 662
1.13% completed
2.25% completed
빈배열 에러 서울특별시 동대문구  용두동 100-8
3.38% completed
4.50% completed
빈배열 에러 경기도 시흥시  정왕동 1771-24
5.63% completed
6.75% completed
7.88% completed
9.00% completed
10.13% completed
11.25% completed
빈배열 에러 경상남도 양산시  평산동 184
12.38% completed
13.50% completed
14.63% completed
15.75% completed
16.88% completed
18.00% completed
19.13% completed
20.25% completed
21.38% completed
22.50% completed
23.63% completed
24.76% completed
25.88% completed
27.01% completed
28.13% completed
29.26% completed
30.38% completed
31.51% completed
32.63% completed
33.76% completed
34.88% completed
36.01% completed
37.13% completed
빈배열 에러 강원도 원주시  일산동 185-1
38.26% completed
39.38% completed
40.51% completed
빈배열 에러 부산광역시 해운대구  우동 588-1
41.63% completed
42.76% completed
43.88% completed
45.01% completed
46.13% completed
빈배열 에러 경기도 용인시 기흥구  신갈동 42-8
47.26% completed
48.39% completed
49.51% completed
50.64% completed
51.76% completed
52.89% completed
54.01% completed
빈배열 에러 대구광역시 동구  검사동 990-41
55.14% completed
56.26% completed
57.39% completed
58.51% completed
59.64% completed
60.76% completed
빈배열 에러 경기도 용인시 기흥구  구갈동 663
61.89% completed
63.01% completed
빈배열 에러 부산광역시 사상구  괘법동 525-57
64.14% completed
65.26% completed
66.39% completed
67.51% completed
68.64% completed
빈배열 에러 경기도 오산시  오산동 535-15
69.76% completed
빈배열 에러 부산광역시 해운대구  반여동 1020
70.89% completed
72.02% completed
73.14% completed
74.27% completed
75.39% completed
76.52% completed
빈배열 에러 경기도 평택시 팽성읍 안정리 32-2
77.64% completed
78.77% completed
79.89% completed
81.02% completed
빈배열 에러 부산광역시 부산진구  양정동 167-4
82.14% completed
83.27% completed
84.39% completed
85.52% completed
86.64% completed
87.77% completed
88.89% completed
빈배열 에러 부산광역시 동래구  복천동 379
90.02% completed
91.14% completed
92.27% completed
93.39% completed
빈배열 에러 서울특별시 영등포구  신길동 225-104
빈배열 에러 부산광역시 사상구  괘법동 545-11
94.52% completed
95.65% completed
96.77% completed
빈배열 에러 경기도 용인시 기흥구  구갈동 658
97.90% completed
99.02% completed

In [21]:
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

+--------------------------------+----------------+----------------+----------------+
|                         address|detailed_address|        latitude|       longitude|
+--------------------------------+----------------+----------------+----------------+
|       인천광역시 부평구  청천동|          383-14|37.5226833421997|126.700932681554|
|    경기도 수원시 영통구  이의동|            1330|37.2925283683075|127.049160071729|
|      경기도 안산시 상록구  사동|          1197-4|37.3017037893824|126.851100920471|
|       인천광역시 부평구  청천동|           379-8| 37.523156953968|126.699885410668|
|       대전광역시 유성구  지족동|           863-2|36.3825806256824|127.320554874073|
|    경기도 용인시 수지구  상현동|          1133-2|37.2959868892725|127.069970873404|
|     서울특별시 서대문구  창천동|           29-81|37.5560565935819|126.938257661301|
|       서울특별시 강동구  천호동|          167-57|37.5388281813469|127.132318119245|
|서울특별시 영등포구  영등포동6가|              92|  37.52090651092| 126.90180167613|
|   경상북도 경산시 하양읍 금락리|          161-32|35.9079799653822|128.812900975347|
|       부산광역시 사하구  괴정동|           555-5|35.0961283263165|128.986414948321|
|     서울특별시 동대문구  이문동|          325-20|37.5944585854655|127.059311021721|
|       서울특별시 은평구  불광동|           319-8|37.6199384778402|126.924162549321|
|       서울특별시 강서구  마곡동|           784-4| 37.565515930868|126.840040467869|
|         서울특별시 도봉구  창동|          632-29| 37.640525557433|127.034970979127|
|             경기도 부천시  상동|           449-1|37.4899890091982|126.756519978653|
|     경기도 평택시 안중읍 안중리|          252-33|36.9881844842728|126.925546121769|
|    경기도 용인시 기흥구  마북동|           255-4|37.2997708162875|127.120101124859|
|       서울특별시 강북구  수유동|            48-1|37.6344211076685|127.022862985412|
|      서울특별시 중구  의주로1가|            32-2|37.5643406677039|126.968463777881|
+--------------------------------+----------------+----------------+----------------+
only showing top 20 rows

In [22]:
location.count()

8869

In [23]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [24]:
joined_df.show()
joined_df.count()

+----------------------------+----------------+----+-----+---+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|                     address|detailed_address|year|month|day|_c0|build_year|trade_price|  city|     sub_city|   dong| code|                    name|floor|exclusive_private_area|               date|        latitude|       longitude|
+----------------------------+----------------+----+-----+---+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|         경기도 부천시  상동|           449-1|2018|   11| 12| 26|      1996|     10,000|경기도|       부천시|   상동|41190|          동아하이츠빌딩|    8|                 62.74|2018-11-12T00:00:00|37.4899890091982|126.756519978653|
|       경기도 부천시  심곡동|          373-11|2017|    5| 13|  4|      2014|     18,000|경기도|       부천시| 심곡동|41190|              스타파크빌|    3|                 75.91|2017-05-13T00:00:00|37.4902048366493|126.781467947342|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16| 67|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16| 74|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16| 75|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16| 76|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18| 88|      2012|     14,900|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18| 95|      2012|     14,550|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|   11| 22| 17|      2012|     19,500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 48.56|2018-11-22T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    3| 27| 16|      2012|     12,000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2018-03-27T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2019|    4| 14| 11|      2012|     13,000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2019-04-14T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18| 14|      2012|     11,800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18| 15|      2012|     11,800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 62|      2012|     13,750|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 65|      2012|     14,350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 66|      2012|     14,300|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 67|      2012|     13,850|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 68|      2012|     14,350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23| 69|      2012|     14,150|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|    4|  8| 11|      2012|     14,500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2020-04-08T00:00:00|37.2925283683075|127.049160071729|
+----------------------------+----------------+----+-----+---+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

145425

In [25]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|                     address|detailed_address|year|month|day|build_year|trade_price|  city|     sub_city|   dong| code|                    name|floor|exclusive_private_area|               date|        latitude|       longitude|
+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|         경기도 부천시  상동|           449-1|2018|   11| 12|      1996|     10,000|경기도|       부천시|   상동|41190|          동아하이츠빌딩|    8|                 62.74|2018-11-12T00:00:00|37.4899890091982|126.756519978653|
|       경기도 부천시  심곡동|          373-11|2017|    5| 13|      2014|     18,000|경기도|       부천시| 심곡동|41190|              스타파크빌|    3|                 75.91|2017-05-13T00:00:00|37.4902048366493|126.781467947342|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|     14,400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18|      2012|     14,900|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18|      2012|     14,550|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|   11| 22|      2012|     19,500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 48.56|2018-11-22T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    3| 27|      2012|     12,000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2018-03-27T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2019|    4| 14|      2012|     13,000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2019-04-14T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18|      2012|     11,800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18|      2012|     11,800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     13,750|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     14,350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     14,300|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     13,850|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     14,350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|     14,150|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|    4|  8|      2012|     14,500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2020-04-08T00:00:00|37.2925283683075|127.049160071729|
+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

145425

In [26]:
final_apartment_df = drop_index_df.na.drop()
final_apartment_df = final_apartment_df.withColumn('trade_price',regexp_replace('trade_price',"\\,", ""))
final_apartment_df.show()
final_apartment_df.count()

+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|                     address|detailed_address|year|month|day|build_year|trade_price|  city|     sub_city|   dong| code|                    name|floor|exclusive_private_area|               date|        latitude|       longitude|
+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
|         경기도 부천시  상동|           449-1|2018|   11| 12|      1996|      10000|경기도|       부천시|   상동|41190|          동아하이츠빌딩|    8|                 62.74|2018-11-12T00:00:00|37.4899890091982|126.756519978653|
|       경기도 부천시  심곡동|          373-11|2017|    5| 13|      2014|      18000|경기도|       부천시| 심곡동|41190|              스타파크빌|    3|                 75.91|2017-05-13T00:00:00|37.4902048366493|126.781467947342|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|      14400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 28.96|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|      14400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|      14400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.87|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 16|      2012|      14400|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2020-12-16T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18|      2012|      14900|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   12| 18|      2012|      14550|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    6|                 29.87|2020-12-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|   11| 22|      2012|      19500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 48.56|2018-11-22T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    3| 27|      2012|      12000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   12|                 29.85|2018-03-27T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2019|    4| 14|      2012|      13000|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2019-04-14T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18|      2012|      11800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2018|    7| 18|      2012|      11800|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    5|                 29.85|2018-07-18T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      13750|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    8|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      14350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      14300|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   10|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      13850|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 28.96|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      14350|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|   11|                 29.87|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|   11| 23|      2012|      14150|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    7|                 29.85|2020-11-23T00:00:00|37.2925283683075|127.049160071729|
|경기도 수원시 영통구  이의동|            1330|2020|    4|  8|      2012|      14500|경기도|수원시 영통구| 이의동|41117|광교서희스타힐스오피스텔|    9|                 29.87|2020-04-08T00:00:00|37.2925283683075|127.049160071729|
+----------------------------+----------------+----+-----+---+----------+-----------+------+-------------+-------+-----+------------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

145425

In [27]:
#final_apartment_df.write.format('com.databricks.spark.csv').save('mycsv.csv')
final_apartment_df.coalesce(1).write.csv('office_trade.csv')