In [1]:
import requests
from urllib.error import URLError, HTTPError
from http.client import IncompleteRead
from time import sleep

In [2]:
# kakao api
APP_KEY = ""
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

In [3]:
def kakao_req(address):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)
    kakao_url_string = str(kakao_url)+ '?query='+ str(address)
    try:
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except HTTPError as e:
        print("502 error caused reply" + e)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except IncompleteRead:
        # Oh well, reconnect and keep trucking
        print("_chunk_size Error")
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except URLError as e:
        print(e.reason)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    else:
        data= resultXML.json()
        if len(data['documents']) ==0:
            data= '403'
            return data
        else:
            return resultXML

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = kakao_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np
from pyspark.sql import SQLContext

In [6]:
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = './villa_trade_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)

villa_trade_201701.csv
villa_trade_201702.csv
villa_trade_201703.csv
villa_trade_201704.csv
villa_trade_201705.csv
villa_trade_201706.csv
villa_trade_201707.csv
villa_trade_201708.csv
villa_trade_201709.csv
villa_trade_201710.csv
villa_trade_201711.csv
villa_trade_201712.csv
villa_trade_201801.csv
villa_trade_201802.csv
villa_trade_201803.csv
villa_trade_201804.csv
villa_trade_201805.csv
villa_trade_201806.csv
villa_trade_201807.csv
villa_trade_201808.csv
villa_trade_201809.csv
villa_trade_201810.csv
villa_trade_201811.csv
villa_trade_201812.csv
villa_trade_201902.csv
villa_trade_201903.csv
villa_trade_201906.csv
villa_trade_201909.csv
villa_trade_201910.csv
villa_trade_201911.csv
villa_trade_201912.csv

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- trade_price: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+-----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
|_c0|build_year|trade_price|year|month|day|      city|sub_city|   dong| code|             name|floor|exclusive_private_area|                  address|detailed_address|
+---+----------+-----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
|  0|      2002|     34,600|2017|    3|  9|서울특별시|  종로구| 누상동|11110|  코디골드빌105동|    1|                 59.32|서울특별시 종로구  누상동|              80|
|  1|      1998|     31,500|2017|    3| 14|서울특별시|  종로구| 누상동|11110|         신덕빌라|    1|                 58.59|서울특별시 종로구  누상동|            11=3|
|  2|      1999|     33,200|2017|    3| 15|서울특별시|  종로구| 누상동|11110|녹원하이츠빌라7동|    1|                 59.73|서울특별시 종로구  누상동|         166=238|
|  3|      2002|     32,500|2017|    3| 17|서울특별시|  종로구| 누상동|11110|  코디골드빌101동|    4|                 59.97|서울특별시 종로구  누상동|             162|
|  4|      2001|     26,500|2017|    3| 20|서울특별시|  종로구| 누상동|11110|  코디골드빌102동|    2|                  57.6|서울특별시 종로구  누상동|          159=12|
|  5|      2001|     25,500|2017|    3| 21|서울특별시|  종로구| 누상동|11110|         풍현빌라|    4|                 59.88|서울특별시 종로구  누상동|           157=1|
|  6|      2003|     30,000|2017|    3| 22|서울특별시|  종로구| 누상동|11110|       선우하이빌|    1|                 66.48|서울특별시 종로구  누상동|         166=204|
|  7|      1998|     55,000|2017|    3| 14|서울특별시|  종로구| 옥인동|11110|       옥인하우스|    5|                 67.83|서울특별시 종로구  옥인동|           19=35|
|  8|      1980|     31,000|2017|    3| 27|서울특별시|  종로구| 옥인동|11110|             옥인|    1|                 59.23|서울특별시 종로구  옥인동|           183=1|
|  9|      1991|    125,000|2017|    3| 15|서울특별시|  종로구| 필운동|11110|         현대빌라|    3|                183.42|서울특별시 종로구  필운동|             173|
| 10|      2002|     34,000|2017|    3| 20|서울특별시|  종로구| 사직동|11110|         엘림타운|    3|                 76.59|서울특별시 종로구  사직동|             269|
| 11|      2001|     40,000|2017|    3| 18|서울특별시|  종로구| 원서동|11110|       이안하우스|    4|                 54.24|서울특별시 종로구  원서동|            76=9|
| 12|      2002|     60,000|2017|    3| 20|서울특별시|  종로구| 원서동|11110|           레스빌|    3|                 99.45|서울특별시 종로구  원서동|            74=1|
| 13|      2003|     61,500|2017|    3| 23|서울특별시|  종로구| 원서동|11110|         (135-33)|    1|                 96.22|서울특별시 종로구  원서동|          135=33|
| 14|      1998|     32,250|2017|    3| 31|서울특별시|  종로구| 원서동|11110|       미래아트빌|    3|                 59.22|서울특별시 종로구  원서동|          135=78|
| 15|      1995|     23,200|2017|    3| 31|서울특별시|  종로구| 연건동|11110|           (88-1)|    4|                 50.33|서울특별시 종로구  연건동|            88=1|
| 16|      1997|     15,000|2017|    3|  9|서울특별시|  종로구| 동숭동|11110|           (4-42)|    3|                 46.44|서울특별시 종로구  동숭동|            4=42|
| 17|      1998|      5,000|2017|    3| 21|서울특별시|  종로구| 동숭동|11110|          (4-114)|   -1|                 23.92|서울특별시 종로구  동숭동|           4=114|
| 18|      1994|     11,900|2017|    3|  3|서울특별시|  종로구| 혜화동|11110|           (5-28)|   -1|                 43.34|서울특별시 종로구  혜화동|            5=28|
| 19|      2016|     41,800|2017|    3| 13|서울특별시|  종로구| 혜화동|11110|       아마레스22|    2|                 58.95|서울특별시 종로구  혜화동|           22=99|
+---+----------+-----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
only showing top 20 rows

382548

In [11]:
filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))
# agg = exprs에 들어있는 계산식으로 dataframe 계산

unique_date_list = unique_date_df.collect()
new_date_list = []
for unique_date in unique_date_list:
    
    if unique_date[1] < 10 :
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
        
    else:
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|trade_price|      city|sub_city|         dong| code|               name|floor|exclusive_private_area|                        address|detailed_address|               date|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
|2017|    1|  1|  0|      2014|      7,900|인천광역시|  강화군|강화읍 신문리|28710|서울빌라(가동,나동)|    2|                 64.44|인천광역시 강화군 강화읍 신문리|           480=5|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1987|     27,000|서울특별시|  강남구|       역삼동|11680|    역삼빌라(746-4)|   -1|                 48.39|      서울특별시 강남구  역삼동|           746=4|2017-01-01T00:00:00|
|2017|    1|  1|165|      2002|      7,000|인천광역시|  부평구|       삼산동|28237|  다승프라임(114동)|    2|                  32.6|      인천광역시 부평구  삼산동|           67=34|2017-01-01T00:00:00|
|2017|    1|  1| 23|      2000|     16,100|서울특별시|  강서구|       화곡동|11500|   대신타운(339-17)|    1|                 46.96|      서울특별시 강서구  화곡동|          339=17|2017-01-01T00:00:00|
|2017|    1|  1| 43|      1992|      7,000|서울특별시|  관악구|       신림동|11620|  한영빌라(412-321)|   -1|                 42.93|      서울특별시 관악구  신림동|         412=321|2017-01-01T00:00:00|
|2017|    1|  1|  7|      1994|     13,500|대구광역시|    동구|       신천동|27140|            태웅(A)|    4|                 58.75|        대구광역시 동구  신천동|           117=4|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1989|      5,500|인천광역시|  남동구|       구월동|28200|      영종빌라(2동)|   -1|                 36.84|      인천광역시 남동구  구월동|          1252=8|2017-01-01T00:00:00|
|2017|    1|  1| 33|      2015|     25,000|서울특별시|  중랑구|       중화동|11260|         삼성리치빌|    3|                 54.56|      서울특별시 중랑구  중화동|          312=49|2017-01-01T00:00:00|
|2017|    1|  1|101|      2012|     21,400|서울특별시|서대문구|     북가좌동|11410|    기룡하이츠(C동)|    5|                 54.52|  서울특별시 서대문구  북가좌동|           337=1|2017-01-01T00:00:00|
|2017|    1|  1| 29|      2016|     17,600|서울특별시|  구로구|     가리봉동|11530|             더그린|    6|                 28.58|    서울특별시 구로구  가리봉동|          125=10|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1978|     46,500|서울특별시|  동작구|     노량진동|11590|           은하맨션|    2|                  68.1|    서울특별시 동작구  노량진동|           84=24|2017-01-01T00:00:00|
|2017|    1|  1| 18|      1997|     10,000|부산광역시|  금정구|       장전동|26410|           대정빌라|    2|                 52.13|      부산광역시 금정구  장전동|          263=20|2017-01-01T00:00:00|
|2017|    1|  1| 43|      2014|     18,900|부산광역시|  수영구|       광안동|26500|         동성하늘채|    2|                 51.76|      부산광역시 수영구  광안동|          536=10|2017-01-01T00:00:00|
|2017|    1|  1|  5|      2005|     13,200|대구광역시|    남구|       대명동|27200|         성일빌라트|    5|                59.675|        대구광역시 남구  대명동|        2014=410|2017-01-01T00:00:00|
|2017|    1|  1|  6|      2009|     16,200|인천광역시|  연수구|       선학동|28185|         동민빌리지|    3|                 78.03|      인천광역시 연수구  선학동|             382|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|     23,700|서울특별시|  중랑구|       면목동|11260|        성준렉스빌Ⅲ|    4|                 29.83|      서울특별시 중랑구  면목동|           368=9|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2016|     28,000|서울특별시|  중랑구|       면목동|11260| 스카이힐튼(157-42)|    4|                 55.01|      서울특별시 중랑구  면목동|          157=42|2017-01-01T00:00:00|
|2017|    1|  1| 11|      1994|     27,200|서울특별시|서대문구|       홍제동|11410|     제일하이츠빌라|    4|                 94.95|    서울특별시 서대문구  홍제동|           321=8|2017-01-01T00:00:00|
|2017|    1|  1|100|      2016|     26,400|서울특별시|서대문구|     북가좌동|11410|  상일아트빌(5-124)|    3|                 53.56|  서울특별시 서대문구  북가좌동|           5=124|2017-01-01T00:00:00|
|2017|    1|  1| 24|      2016|     16,400|서울특별시|  강서구|       화곡동|11500|     디에이치팰리스|    4|                 27.23|      서울특별시 강서구  화곡동|           73=93|2017-01-01T00:00:00|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
only showing top 20 rows

382536

In [15]:
added_date_df = added_date_df.withColumn("detailed_address", regexp_replace(col("detailed_address"),"=","-"))
added_date_df.show()

+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|trade_price|      city|sub_city|         dong| code|               name|floor|exclusive_private_area|                        address|detailed_address|               date|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
|2017|    1|  1|  0|      2014|      7,900|인천광역시|  강화군|강화읍 신문리|28710|서울빌라(가동,나동)|    2|                 64.44|인천광역시 강화군 강화읍 신문리|           480-5|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1987|     27,000|서울특별시|  강남구|       역삼동|11680|    역삼빌라(746-4)|   -1|                 48.39|      서울특별시 강남구  역삼동|           746-4|2017-01-01T00:00:00|
|2017|    1|  1|165|      2002|      7,000|인천광역시|  부평구|       삼산동|28237|  다승프라임(114동)|    2|                  32.6|      인천광역시 부평구  삼산동|           67-34|2017-01-01T00:00:00|
|2017|    1|  1| 23|      2000|     16,100|서울특별시|  강서구|       화곡동|11500|   대신타운(339-17)|    1|                 46.96|      서울특별시 강서구  화곡동|          339-17|2017-01-01T00:00:00|
|2017|    1|  1| 43|      1992|      7,000|서울특별시|  관악구|       신림동|11620|  한영빌라(412-321)|   -1|                 42.93|      서울특별시 관악구  신림동|         412-321|2017-01-01T00:00:00|
|2017|    1|  1|  7|      1994|     13,500|대구광역시|    동구|       신천동|27140|            태웅(A)|    4|                 58.75|        대구광역시 동구  신천동|           117-4|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1989|      5,500|인천광역시|  남동구|       구월동|28200|      영종빌라(2동)|   -1|                 36.84|      인천광역시 남동구  구월동|          1252-8|2017-01-01T00:00:00|
|2017|    1|  1| 33|      2015|     25,000|서울특별시|  중랑구|       중화동|11260|         삼성리치빌|    3|                 54.56|      서울특별시 중랑구  중화동|          312-49|2017-01-01T00:00:00|
|2017|    1|  1|101|      2012|     21,400|서울특별시|서대문구|     북가좌동|11410|    기룡하이츠(C동)|    5|                 54.52|  서울특별시 서대문구  북가좌동|           337-1|2017-01-01T00:00:00|
|2017|    1|  1| 29|      2016|     17,600|서울특별시|  구로구|     가리봉동|11530|             더그린|    6|                 28.58|    서울특별시 구로구  가리봉동|          125-10|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1978|     46,500|서울특별시|  동작구|     노량진동|11590|           은하맨션|    2|                  68.1|    서울특별시 동작구  노량진동|           84-24|2017-01-01T00:00:00|
|2017|    1|  1| 18|      1997|     10,000|부산광역시|  금정구|       장전동|26410|           대정빌라|    2|                 52.13|      부산광역시 금정구  장전동|          263-20|2017-01-01T00:00:00|
|2017|    1|  1| 43|      2014|     18,900|부산광역시|  수영구|       광안동|26500|         동성하늘채|    2|                 51.76|      부산광역시 수영구  광안동|          536-10|2017-01-01T00:00:00|
|2017|    1|  1|  5|      2005|     13,200|대구광역시|    남구|       대명동|27200|         성일빌라트|    5|                59.675|        대구광역시 남구  대명동|        2014-410|2017-01-01T00:00:00|
|2017|    1|  1|  6|      2009|     16,200|인천광역시|  연수구|       선학동|28185|         동민빌리지|    3|                 78.03|      인천광역시 연수구  선학동|             382|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|     23,700|서울특별시|  중랑구|       면목동|11260|        성준렉스빌Ⅲ|    4|                 29.83|      서울특별시 중랑구  면목동|           368-9|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2016|     28,000|서울특별시|  중랑구|       면목동|11260| 스카이힐튼(157-42)|    4|                 55.01|      서울특별시 중랑구  면목동|          157-42|2017-01-01T00:00:00|
|2017|    1|  1| 11|      1994|     27,200|서울특별시|서대문구|       홍제동|11410|     제일하이츠빌라|    4|                 94.95|    서울특별시 서대문구  홍제동|           321-8|2017-01-01T00:00:00|
|2017|    1|  1|100|      2016|     26,400|서울특별시|서대문구|     북가좌동|11410|  상일아트빌(5-124)|    3|                 53.56|  서울특별시 서대문구  북가좌동|           5-124|2017-01-01T00:00:00|
|2017|    1|  1| 24|      2016|     16,400|서울특별시|  강서구|       화곡동|11500|     디에이치팰리스|    4|                 27.23|      서울특별시 강서구  화곡동|           73-93|2017-01-01T00:00:00|
+----+-----+---+---+----------+-----------+----------+--------+-------------+-----+-------------------+-----+----------------------+-------------------------------+----------------+-------------------+
only showing top 20 rows

In [16]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+-----------------------------+----------------+-----+
|                      address|detailed_address|count|
+-----------------------------+----------------+-----+
|경상북도 청도군 각남면 구곡리|           627-4|    4|
|    서울특별시 종로구  창신동|           619-8|    1|
|  서울특별시 서대문구  연희동|          542-19|    2|
|    서울특별시 송파구  풍납동|          279-47|    1|
|    인천광역시 남동구  구월동|         1253-11|    4|
| 경기도 안산시 상록구  부곡동|           552-5|    1|
|    서울특별시 강서구  화곡동|           423-6|    2|
|    인천광역시 부평구  부평동|          438-63|    5|
|  경기도 광주시 오포읍 문형리|           491-3|    2|
|    서울특별시 은평구  응암동|           74-10|    2|
|    대전광역시 대덕구  중리동|           397-3|    1|
|        경기도 시흥시  미산동|           331-2|    1|
|        경기도 광주시  목현동|           627-1|    6|
|        강원도 춘천시  후평동|             857|    7|
|      광주광역시 북구  중흥동|             148|   32|
|      경기도 의정부시  녹양동|          384-13|    1|
|      경기도 동두천시  생연동|           314-2|    8|
|  경기도 가평군 청평면 청평리|             198|    2|
|  부산광역시 부산진구  개금동|            33-1|    1|
|      대구광역시 서구  내당동|         911-115|    3|
+-----------------------------+----------------+-----+
only showing top 20 rows

137602

In [17]:
sum = new_df.select(sum("count"))
sum.show()

+----------+
|sum(count)|
+----------+
|    382536|
+----------+

In [18]:
unique_address_list = new_df.collect()
#print (unique_address_list[0][0])

In [19]:
import sys

def req_addr(address):
    data=0
    if '-' in address[1]:
        check = str(address[1]).split('-')[0]
        if address[1].split('-')[0].isdigit() == False or address[1].split('-')[1].isdigit() == False:
            print(address)
            print('주소에 글자섞임')
            data= 400
    if data == 0:
        response = kakao_req(address[0] + " " + address[1])
    else :
        return data
    if response == '403':
        print('빈배열 에러 ' + address[0] + " " + address[1])
        sleep(5)
        data= 3
        return data
    else :
        return response

In [20]:

location_list = []

# checking why no esult data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;
print (length)
addr2 =unique_address_list[:1]

for address in unique_address_list: 
    #full_address = (address[0] + " " + address[1]).encode('utf8')
    #print(full_address)
    response = req_addr(address)
    if response == 400 or response == 3:
        continue
    if response.status_code == 200:
        data = response.json()
        x = data['documents'][0]['address']['x']
        y = data['documents'][0]['address']['y']
        location_list.append([address[0],address[1],y,x])
    else: 
        print (response.json())
        count += 1
        #print (count)
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if index % 100 == 0:
        print (("%0.2f" % (index / length * 100.0)) + "% completed")
        
    index += 1.0

137602
0.07% completed
0.15% completed
0.22% completed
Row(address='대구광역시 수성구  범어동', detailed_address='산128-2', count=2)
주소에 글자섞임
Row(address='울산광역시 북구  산하동', detailed_address='가-', count=4)
주소에 글자섞임
0.29% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-8-3', count=1)
주소에 글자섞임
0.36% completed
빈배열 에러 전라북도 임실군 임실읍 감성리 429
0.44% completed
0.51% completed
0.58% completed
빈배열 에러 인천광역시 계양구  작전동 445-7
0.65% completed
0.73% completed
0.80% completed
0.87% completed
0.94% completed
1.02% completed
Row(address='경기도 광명시  광명동', detailed_address='산57-26', count=3)
주소에 글자섞임
1.09% completed
1.16% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-5-8', count=3)
주소에 글자섞임
1.24% completed
빈배열 에러 경기도 부천시  원미동 189-120
1.31% completed
1.38% completed
1.45% completed
1.53% completed
1.60% completed
1.67% completed
1.74% completed
1.82% completed
1.89% completed
Row(address='울산광역시 북구  진장동', detailed_address='가-61-9', count=1)
주소에 글자섞임
빈배열 에러 서울특별시 은평구  응암동 106-35
1.96% completed
빈배열 에러 서울특별시 은평구  응암동 452-12
2.03% completed
2.11% completed
2.18% completed
2.25% completed
2.33% completed
2.40% completed
2.47% completed
2.54% completed
Row(address='부산광역시 북구  구포동', detailed_address='산48-422', count=1)
주소에 글자섞임
2.62% completed
2.69% completed
2.76% completed
Row(address='울산광역시 중구  약사동', detailed_address='가-7-4', count=1)
주소에 글자섞임
2.83% completed
2.91% completed
빈배열 에러 부산광역시 중구  영주동 산1
빈배열 에러 서울특별시 중랑구  중화동 330-89
2.98% completed
3.05% completed
3.12% completed
3.20% completed
3.27% completed
Row(address='대구광역시 북구  복현동', detailed_address='산107-15', count=5)
주소에 글자섞임
3.34% completed
3.42% completed
3.49% completed
3.56% completed
Row(address='경상북도 경주시 감포읍 오류리', detailed_address='산130-3', count=5)
주소에 글자섞임
3.63% completed
3.71% completed
빈배열 에러 서울특별시 은평구  응암동 106-15
3.78% completed
3.85% completed
3.92% completed
4.00% completed
빈배열 에러 경기도 부천시  고강동 382-25
4.07% completed
4.14% completed
4.22% completed
4.29% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-8-7', count=1)
주소에 글자섞임
4.36% completed
4.43% completed
4.51% completed
4.58% completed
4.65% completed
4.72% completed
4.80% completed
4.87% completed
4.94% completed
5.01% completed
5.09% completed
5.16% completed
빈배열 에러 경기도 안양시 만안구  안양동 397-27
5.23% completed
5.31% completed
5.38% completed
5.45% completed
Row(address='서울특별시 관악구  봉천동', detailed_address='가-10-1', count=1)
주소에 글자섞임
5.52% completed
5.60% completed
5.67% completed
5.74% completed
5.81% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-1005-3', count=2)
주소에 글자섞임
5.89% completed
빈배열 에러 서울특별시 은평구  응암동 592-82
5.96% completed
6.03% completed
빈배열 에러 서울특별시 중랑구  상봉동 333-3
6.10% completed
6.18% completed
6.25% completed
Row(address='경상남도 창원시 의창구 북면 신촌리', detailed_address='산65-8', count=4)
주소에 글자섞임
6.32% completed
6.40% completed
6.47% completed
6.54% completed
6.61% completed
6.69% completed
6.76% completed
빈배열 에러 서울특별시 강동구  둔촌동 46-4
6.83% completed
6.90% completed
6.98% completed
7.05% completed
7.12% completed
7.19% completed
7.27% completed
7.34% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-10-402', count=1)
주소에 글자섞임
7.41% completed
7.49% completed
7.56% completed
Row(address='경기도 남양주시 와부읍 덕소리', detailed_address='산15-8', count=6)
주소에 글자섞임
7.63% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-39-8', count=1)
주소에 글자섞임
빈배열 에러 경기도 안양시 만안구  안양동 859-26
7.70% completed
빈배열 에러 서울특별시 은평구  응암동 217-9
7.78% completed
7.85% completed
7.92% completed
7.99% completed
8.07% completed
Row(address='경상북도 경주시  충효동', detailed_address='가-10-1', count=5)
주소에 글자섞임
8.14% completed
8.21% completed
8.28% completed
8.36% completed
Row(address='경기도 여주시 가남읍 태평리', detailed_address='산17-25', count=2)
주소에 글자섞임
8.43% completed
8.50% completed
Row(address='경기도 남양주시 와부읍 덕소리', detailed_address='산15-9', count=4)
주소에 글자섞임
8.58% completed
8.65% completed
8.72% completed
8.79% completed
8.87% completed
8.94% completed
9.01% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-2003-27', count=3)
주소에 글자섞임
9.08% completed
빈배열 에러 경기도 안양시 만안구  안양동 397-28
9.16% completed
빈배열 에러 경기도 안성시 죽산면 죽산리 473-7
빈배열 에러 경기도 광주시 오포읍 능평리 361-18
9.23% completed
9.30% completed
빈배열 에러 인천광역시 남동구  만수동 895-6
9.37% completed
9.45% completed
9.52% completed
9.59% completed
9.67% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-6023-6', count=1)
주소에 글자섞임
빈배열 에러 서울특별시 강서구  내발산동 665-29
9.74% completed
9.81% completed
9.88% completed
빈배열 에러 경기도 용인시 처인구  역북동 475-8
빈배열 에러 서울특별시 중랑구  면목동 520-149
9.96% completed
10.03% completed
10.10% completed
10.17% completed
Row(address='경기도 남양주시 화도읍 창현리', detailed_address='산46-4', count=1)
주소에 글자섞임
10.25% completed
10.32% completed
빈배열 에러 경기도 부천시  송내동 598-1
10.39% completed
10.46% completed
10.54% completed
빈배열 에러 서울특별시 동작구  대방동 99-9
10.61% completed
Row(address='서울특별시 관악구  봉천동', detailed_address='산101-419', count=1)
주소에 글자섞임
10.68% completed
10.76% completed
10.83% completed
Row(address='부산광역시 사하구  당리동', detailed_address='산69-3', count=1)
주소에 글자섞임
10.90% completed
10.97% completed
11.05% completed
11.12% completed
11.19% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-10-102', count=8)
주소에 글자섞임
11.26% completed
11.34% completed
11.41% completed
11.48% completed
11.56% completed
빈배열 에러 서울특별시 금천구  시흥동 3-112
11.63% completed
11.70% completed
11.77% completed
11.85% completed
11.92% completed
11.99% completed
12.06% completed
12.14% completed
12.21% completed
빈배열 에러 서울특별시 양천구  신월동 568-2
12.28% completed
12.35% completed
12.43% completed
12.50% completed
빈배열 에러 부산광역시 남구  대연동 1464-16
12.57% completed
12.65% completed
12.72% completed
12.79% completed
빈배열 에러 부산광역시 금정구  구서동 413-18
12.86% completed
Row(address='경기도 남양주시 와부읍 덕소리', detailed_address='산15-10', count=6)
주소에 글자섞임
12.94% completed
13.01% completed
13.08% completed
13.15% completed
13.23% completed
Row(address='울산광역시 울주군 삼남읍 방기리', detailed_address='가-29-703', count=1)
주소에 글자섞임
13.30% completed
13.37% completed
13.44% completed
빈배열 에러 경기도 부천시  도당동 53-24
13.52% completed
Row(address='경기도 남양주시  금곡동', detailed_address='산83-6', count=1)
주소에 글자섞임
13.59% completed
13.66% completed
13.74% completed
13.81% completed
13.88% completed
13.95% completed
14.03% completed
14.10% completed
14.17% completed
14.24% completed
14.32% completed
14.39% completed
14.46% completed
빈배열 에러 부산광역시 사하구  하단동 605-15
빈배열 에러 서울특별시 은평구  응암동 231-34
14.53% completed
14.61% completed
14.68% completed
14.75% completed
14.83% completed
Row(address='대구광역시 북구  복현동', detailed_address='산107-13', count=3)
주소에 글자섞임
14.90% completed
빈배열 에러 경기도 부천시  소사본동 63-7
14.97% completed
15.04% completed
15.12% completed
15.19% completed
15.26% completed
빈배열 에러 서울특별시 은평구  응암동 221-50
15.33% completed
15.41% completed
15.48% completed
15.55% completed
15.62% completed
15.70% completed
빈배열 에러 서울특별시 서초구  방배동 853-5
15.77% completed
15.84% completed
15.92% completed
15.99% completed
16.06% completed
16.13% completed
16.21% completed
Row(address='강원도 태백시  황지동', detailed_address='산57-28', count=3)
주소에 글자섞임
Row(address='서울특별시 관악구  봉천동', detailed_address='산101-112', count=6)
주소에 글자섞임
16.28% completed
빈배열 에러 강원도 홍천군 홍천읍 희망리 376-14
16.35% completed
Row(address='서울특별시 동작구  사당동', detailed_address='산10-32', count=2)
주소에 글자섞임
16.42% completed
16.50% completed
16.57% completed
빈배열 에러 서울특별시 서초구  방배동 853-8
16.64% completed
16.71% completed
16.79% completed
16.86% completed
16.93% completed
17.01% completed
17.08% completed
17.15% completed
17.22% completed
17.30% completed
17.37% completed
빈배열 에러 경기도 부천시  여월동 53-13
17.44% completed
17.51% completed
빈배열 에러 부산광역시 동래구  명장동 425-1
17.59% completed
17.66% completed
17.73% completed
17.80% completed
17.88% completed
Row(address='전라남도 무안군 삼향읍 왕산리', detailed_address='산152-58', count=12)
주소에 글자섞임
빈배열 에러 경기도 부천시  내동 358-3
Row(address='경기도 동두천시  광암동', detailed_address='산93-2', count=1)
주소에 글자섞임
17.95% completed
18.02% completed
18.10% completed
18.17% completed
18.24% completed
18.31% completed
빈배열 에러 서울특별시 양천구  신월동 567-6
18.39% completed
18.46% completed
18.53% completed
18.60% completed
18.68% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-10-5', count=3)
주소에 글자섞임
18.75% completed
18.82% completed
18.90% completed
Row(address='울산광역시 중구  약사동', detailed_address='가-6-12', count=1)
주소에 글자섞임

18.97% completed
19.04% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-25-2', count=3)
주소에 글자섞임
19.11% completed
19.19% completed
19.26% completed
Row(address='인천광역시 부평구  산곡동', detailed_address='산53-24', count=1)
주소에 글자섞임
19.33% completed
19.40% completed
19.48% completed
19.55% completed
19.62% completed
19.69% completed
19.77% completed
빈배열 에러 부산광역시 사상구  엄궁동 25-61
19.84% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-6007-42', count=1)
주소에 글자섞임
19.91% completed
Row(address='대구광역시 수성구  파동', detailed_address='산17-20', count=1)
주소에 글자섞임
19.99% completed
20.06% completed
20.13% completed
20.20% completed
20.28% completed
20.35% completed
빈배열 에러 경기도 부천시  고강동 365-15
20.42% completed
20.49% completed
20.57% completed
20.64% completed
20.71% completed
Row(address='부산광역시 연제구  연산동', detailed_address='산46-1', count=1)
주소에 글자섞임
20.78% completed
20.86% completed
20.93% completed
21.00% completed
빈배열 에러 경기도 안양시 만안구  안양동 1034-16
21.08% completed
21.15% completed
빈배열 에러 서울특별시 금천구  독산동 893-7
21.22% completed
21.29% completed
21.37% completed
빈배열 에러 부산광역시 해운대구  중동 1378-90
21.44% completed
21.51% completed
21.58% completed
21.66% completed
21.73% completed
21.80% completed
21.87% completed
21.95% completed
22.02% completed
Row(address='경기도 여주시 가남읍 태평리', detailed_address='산17-21', count=1)
주소에 글자섞임
22.09% completed
22.17% completed
22.24% completed
빈배열 에러 경기도 부천시  고강동 403-23
22.31% completed
22.38% completed
22.46% completed
22.53% completed
22.60% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-10-2', count=3)
주소에 글자섞임
22.67% completed
빈배열 에러 서울특별시 서대문구  홍은동 9-4
22.75% completed
22.82% completed
22.89% completed
22.96% completed
23.04% completed
23.11% completed
빈배열 에러 부산광역시 동래구  사직동 48-23
23.18% completed
빈배열 에러 경기도 남양주시 화도읍 마석우리 468-6
23.26% completed
23.33% completed
Row(address='부산광역시 연제구  연산동', detailed_address='산176-35', count=1)
주소에 글자섞임
23.40% completed
23.47% completed
23.55% completed
23.62% completed
23.69% completed
빈배열 에러 서울특별시 은평구  응암동 231-16
23.76% completed
23.84% completed
23.91% completed
23.98% completed
24.05% completed
24.13% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-8-5', count=7)
주소에 글자섞임
빈배열 에러 서울특별시 동작구  상도동 188-88
24.20% completed
24.27% completed
24.35% completed
24.42% completed
24.49% completed
24.56% completed
24.64% completed
Row(address='부산광역시 북구  구포동', detailed_address='산48-106', count=5)
주소에 글자섞임
24.71% completed
24.78% completed
24.85% completed
24.93% completed
빈배열 에러 부산광역시 연제구  연산동 1481-44
빈배열 에러 경기도 안양시 만안구  안양동 1034-19
25.00% completed
25.07% completed
25.14% completed
25.22% completed
25.29% completed
25.36% completed
25.44% completed
25.51% completed
25.58% completed
25.65% completed
25.73% completed
25.80% completed
빈배열 에러 경기도 안양시 만안구  안양동 859-25
25.87% completed
빈배열 에러 인천광역시 연수구  옥련동 119-3
25.94% completed
26.02% completed
26.09% completed
Row(address='경상북도 포항시 남구 동해면 도구리', detailed_address='가-30-201', count=1)
주소에 글자섞임
26.16% completed
26.24% completed
26.31% completed
26.38% completed
26.45% completed
26.53% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-8-1', count=10)
주소에 글자섞임
Row(address='울산광역시 남구  신정동', detailed_address='산196-8', count=5)
주소에 글자섞임
26.60% completed
26.67% completed
26.74% completed
26.82% completed
26.89% completed
26.96% completed
27.03% completed
27.11% completed
27.18% completed
27.25% completed
27.33% completed
27.40% completed
27.47% completed
27.54% completed
27.62% completed
Row(address='대구광역시 서구  상리동', detailed_address='산123-9', count=3)
주소에 글자섞임
27.69% completed
빈배열 에러 경기도 부천시  원종동 352-5
27.76% completed
27.83% completed
27.91% completed
27.98% completed
28.05% completed
28.12% completed
28.20% completed
28.27% completed
28.34% completed
빈배열 에러 서울특별시 양천구  신월동 567-2
빈배열 에러 경기도 안양시 만안구  안양동 1034-26
28.42% completed
빈배열 에러 경기도 부천시  중동 780
28.49% completed
Row(address='울산광역시 울주군 삼남읍 방기리', detailed_address='가-15-203', count=6)
주소에 글자섞임
28.56% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-2008-9', count=3)
주소에 글자섞임
28.63% completed
Row(address='대구광역시 수성구  파동', detailed_address='산17-13', count=1)
주소에 글자섞임
28.71% completed
빈배열 에러 경기도 부천시  고강동 383-17
28.78% completed
28.85% completed
28.92% completed
29.00% completed
29.07% completed
29.14% completed
29.21% completed
29.29% completed
29.36% completed
29.43% completed
29.51% completed
빈배열 에러 대전광역시 유성구  가정동 236-2
29.58% completed
29.65% completed
Row(address='서울특별시 관악구  봉천동', detailed_address='산101-101', count=1)
주소에 글자섞임
29.72% completed
29.80% completed
29.87% completed
29.94% completed
30.01% completed
30.09% completed
30.16% completed
30.23% completed
30.30% completed
30.38% completed
빈배열 에러 서울특별시 은평구  응암동 216-5
30.45% completed
30.52% completed
30.60% completed
30.67% completed
빈배열 에러 서울특별시 동대문구  장안동 291-1
빈배열 에러 서울특별시 동대문구  장안동 292-5
30.74% completed
30.81% completed
30.89% completed
30.96% completed
빈배열 에러 서울특별시 강서구  내발산동 665-5
Row(address='인천광역시 서구  마전동', detailed_address='BL 8-8-3', count=3)
주소에 글자섞임
31.03% completed
31.10% completed
31.18% completed
Row(address='서울특별시 관악구  봉천동', detailed_address='산101-76', count=1)
주소에 글자섞임
31.25% completed
31.32% completed
31.39% completed
31.47% completed
31.54% completed
31.61% completed
31.69% completed
31.76% completed
31.83% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL 8-8-1', count=1)
주소에 글자섞임
31.90% completed
빈배열 에러 경기도 부천시  역곡동 81-4
31.98% completed
Row(address='서울특별시 노원구  상계동', detailed_address='가-2012-4', count=8)
주소에 글자섞임
빈배열 에러 경기도 부천시  고강동 409-9
Row(address='서울특별시 노원구  상계동', detailed_address='가-2008-8', count=5)
주소에 글자섞임
32.05% completed
빈배열 에러 경기도 성남시 수정구  단대동 160-13
Row(address='대전광역시 동구  대성동', detailed_address='산19-14', count=7)
주소에 글자섞임
32.12% completed
32.19% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-39-9', count=3)
주소에 글자섞임
32.27% completed
32.34% completed
32.41% completed
32.48% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-45-101', count=4)
주소에 글자섞임
32.56% completed
Row(address='인천광역시 서구  마전동', detailed_address='BL-2-2', count=3)
주소에 글자섞임
32.63% completed
32.70% completed
32.78% completed
32.85% completed
32.92% completed
32.99% completed
33.07% completed
33.14% completed
33.21% completed
33.28% completed
33.36% completed
33.43% completed
33.50% completed
33.58% completed
33.65% completed
빈배열 에러 서울특별시 도봉구  쌍문동 446-4
33.72% completed
빈배열 에러 경기도 연천군 청산면 백의리 19-9
33.79% completed
33.87% completed
33.94% completed
34.01% completed
빈배열 에러 경기도 부천시  여월동 7-80
Row(address='울산광역시 울주군 삼남읍 방기리', detailed_address='가-30-401', count=4)
주소에 글자섞임
34.08% completed
Row(address='경기도 구리시  수택동', detailed_address='산2-25', count=5)
주소에 글자섞임
34.16% completed
빈배열 에러 서울특별시 양천구  신월동 565-9
34.23% completed
34.30% completed
34.37% completed
빈배열 에러 서울특별시 양천구  신월동 563-8
Row(address='서울특별시 노원구  상계동', detailed_address='가-6024-104', count=2)
주소에 글자섞임
34.45% completed
34.52% completed
34.59% completed
34.67% completed
Row(address='울산광역시 남구  선암동', detailed_address='BL-7-5', count=13)
주소에 글자섞임
34.74% completed
34.81% completed
34.88% completed
34.96% completed
35.03% completed
Row(address='경기도 의왕시  오전동', detailed_address='산219-1', count=10)
주소에 글자섞임
35.10% completed
35.17% completed
35.25% completed
35.32% completed
35.39% completed
35.46% completed
35.54% completed
35.61% completed
35.68% completed
빈배열 에러 경기도 부천시  도당동 53-22
35.76% completed
35.83% completed
빈배열 에러 서울특별시 은평구  응암동 216-19
35.90% completed

KeyError: 'documents'

In [ ]:
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

In [ ]:
location.count()

In [ ]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [ ]:
joined_df.show()
joined_df.count()

In [ ]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

In [ ]:
final_apartment_df = drop_index_df.na.drop()
final_apartment_df = final_apartment_df.withColumn('trade_price',regexp_replace('trade_price',"\\,", ""))
final_apartment_df.show()
final_apartment_df.count()

In [ ]:
#final_apartment_df.write.format('com.databricks.spark.csv').save('mycsv.csv')
final_apartment_df.coalesce(1).write.csv('villa_trade.csv')